@import '../../assets/css/skeleton/css/normalize.css';
@import '../../assets/css/skeleton/css/skeleton.css';


ul

ul li
  position relative
  float left
  padding 0
  margin 0

ul.piano
  margin 40px auto
  cursor pointer
  list-style-type none
  background-color #777
  padding 40px 10px 4px 10px

.key
  border-top 2px solid #000
  border-right 2px solid #000
  border-bottom 2px solid #000

  &:active
    border-top 2px solid #000
    border-bottom 2px solid #000


.key-black
  margin 0 0 0 -10px
  width 20px
  height 125px
  background #000
  z-index 1000

  &:active,
  &.press
    box-shadow inset 6px 10px 66px 8px rgba(204, 204, 204, 0.2)

.key-white
  width 30px
  height 200px
  background #fff

  &:active,
  &.press
    animation-delay: 2s;
    box-shadow inset 6px 10px 66px 8px rgba(0, 0, 0, 0.2)

.key-black + .key-white
  margin-left -12px

ul li
  border-radius 0 0 7px 7px

ul li:first-of-type
  border-left 2px solid #000
  border-radius 10px 0 7px 7px

ul li:last-of-type
  border-right 2px solid #000
  border-radius 10px 7px 7px 7px
